@page
@model projectTestAPP.Pages.Admin.FoodTypes.DeleteModel
<form method="post">
    <input hidden asp-for="FoodType.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete FoodType</h2>
            <hr />
        </div>
        
        <div class="mb-3">
            <label asp-for="FoodType.Name"/>
            <input asp-for="FoodType.Name" class="form-control"/>
            <span asp-validation-for="FoodType.Name" disabled class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

